.board {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  width: 19rem;
  height: 37rem;
  border: solid 15px brown;
}

.square {
  margin: 1px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.header {
  font-family: 'Chicle', cursive;
  font-size: 35px;
  text-align: center;
  padding: 0.7rem;
  font-weight: 900;
}

.next-piece {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  width: 8rem;
  height: 4rem;
}

.left {
 margin: 2rem;
 flex: 1;
}

.right {
  flex: 1;
  margin: 2rem;
 }