.right {
  display: flex;
  flex: 2;
}

.next-piece-stats {
  flex: 1;
  max-width: 249px;
  padding: 5%;
}

.stats div {
  display: flex;
  justify-content: space-between;
}

.stats {
  padding-top: 20%;
  font-size: xx-large;
}

.pause {
  font-size: xx-large;
  text-decoration: underline;
  text-align: center;
}