.right {
  display: flex;
}

.next-piece-stats {
  flex: 1;
  max-width: 272px;
  padding: 40px;
  width: 245px;
}

.next-piece-stats .triangle {
  display: none;
}

.stats div {
  display: flex;
  justify-content: space-between;
}

.stats {
  padding-top: 20%;
  font-size: xx-large;
}

.pause {
  font-size: xx-large;
  text-decoration: underline;
  text-align: center;
}

.pause:hover {
  cursor: pointer;
}